body{
  background-color:rgb(36, 36, 36);
  font-family:arial,sans-serif;
}

h1{
  color: #50ffb0;
  top: 0;
}
h2{
  color: #ff50b0;
}
p{
  color: rgb(200, 200, 200)
}

.center {
  width:100%;
  text-align:center
}

.sidebar {
  position: absolute;
  display: block !important;
  left: 0;
  top: 0;
  height: 100%;
  width: 100px;
}

.sidebarTitle {
  border: none;
  display: block;
  padding: 10px 0px;
  margin: 0px;
  width: 100%;
  text-align: center;
  text-decoration: none;
}



ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100px;
  background-color: #000000;
}

li button {
  border: none;
  display: block;
  color: #888888;
  background-color: #00000000;
  padding: 10px 0px;
  width: 100%;
  text-align: center;
  text-decoration: none;
}

/* Change the link color on hover */
li button:hover {
  background-color: #555;
  color: white;
}